#GameObjectName, #SceneName {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

#scene-logs:disabled, #gameObject-logs:disabled {
    display:none;
}

#toolbar-showlog{
    flex-direction: row;
}
